.container {
    margin: 0 auto;
    max-width: 1100px;
}
@media (max-width: 800px) {
	.container {
	    padding-left: 26px;
	    padding-right: 16px;
	}
}
#siteTitle {
	font-size: 25pt;
	padding:5px 15px 5px 0px;
	margin-left:-8px;
	display:block;
	margin-bottom:20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#siteTitle:visited {
	color:#555;
}
#siteTitle:link {
	color:#555;
}
#siteTitle:hover {
	color:#4f97c7;
	color:#777;
}
h1 {
	color:#4f97c7;
}
#footer-navigation {
	background: #263802;
	overflow: hidden;
	margin-top: 0px;
}
.footerColumn {
	width:33%;
	float:left;
	margin-bottom: 20px;
}
.footerColumnInside {
	padding-right:40px;
}
@media (max-width:700px) {
	.footerColumn {
		width:100%;
	}
}

#main-nav li {
	font-family: Cabin, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#333;
	margin-right:3px;
}
#main-nav li a {
	color:#556;
	padding-left:12px;
	padding-right:12px;
}
#main-nav li a:hover {
	background-color:orange;
	color:#fff;
}
#main-nav li a.active {
	background-color:#fff;
	color:#333;
}

/* Add to base */
@media (max-width:750px) {
	#main-nav li {
		display: block; /* no effect */
		float:left; /* no effect */
		padding-bottom:12px;
	}
}

.header-navigation {
	z-index:1px;
}

.regbutton {
	display: inline-block;
	font-size: 14pt;
	color: white !important;
	background-color: #4986E7;
	min-height: 24px;
	cursor: pointer;
	border-radius: 4px;
	padding: 9px 18px 9px 18px !important;
	margin-bottom:10px;
	min-width: 140px;
	text-align: center;
	white-space: nowrap;
}


