
.linkButton {
  cursor: pointer;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 6px 12px 6px 12px;
  background-color: #4586f6;
  border-color: #007ba1;
  color: #fff;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  border: none;
  font-weight: normal !important;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}
.linkButton:link {
  color: #fff !important;
}
.linkButton:visited {
  color: #fff !important;
}
.linkButton:hover {
  text-decoration: none !important;
  background-color: #0077cc !important;
}
.linkButton.active {
  background-color: #008cba !important;
}

.menuButtons a {
  font-size: 14pt;
  min-width: 250px;
}

.linkButton-lite {
  color: #333 !important;
  background-color: #fff !important;
  border: 1px solid #333 !important;
}
.linkButton-lite:link {
  color: #333 !important;
}
.linkButton-lite:visited {
  color: #333 !important;
}
.linkButton-lite:hover {
  color: #fff !important;
}
.linkButton-lite a {
  color: #333 !important;
}
.linkButton-lite a:hover {
  color: #fff !important;
}

@media (max-width:999px) {
  .main-content {
    margin-top: 14px;
  }
  .container {
    /* removed for dsi
    padding-left:26px;
    padding-right:16px;
    */
  }
}

@media (max-width:400px) {
  h1, h2, h3, h4 {
    line-height: 28px;
  }
  h1 {
    font-size: 28px;
    margin-bottom: 20px
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    margin-top: 16px;
  }
}

.left {
  width: 49.5%; max-width:500px;float:left;
}
.left .inner {
  padding-right:30px;
}
.left img {
  width:100%;
}
.main {
  width:50.5%; float:left;
  min-width:150px;
}
.wrapleft {
  float: none;
  width:100%;
}
.wrapleft p { /* Prevents orphans */
  overflow:hidden;
}
.main img {
  width:100%;
}
.right {
  width: 49.5%; max-width:500px; float:right;
}
.right .inner {
  padding-left:36px;
}
.right img {
  width:96%;
}
.clear {
  clear:both;
  height:30px;
}
.nowrap {
  white-space: nowrap;
}
@media (max-width:650px) {
  .left {
    width:100%;
    max-width:100%;
    border-right-width:0px;
    max-widthX:350px;
  }
  .left .inner {
    padding-right:0px;
  }
  .main {
    width:100%;
    max-width:100%;
    max-widthX:350px;
  }
  .right {
    float:left;
    width:100%;
    max-width:100%;
    border-left-width:0px;
    max-widthX:350px;
  }
  .right .inner {
  padding-left:0px;
  }
}

@media (max-width:800px) {
  #mainColumn { /* phase out for .main */
    width:100%;
    float:left;
  }
  #rightColumn { /* phase out for .right */
    width:100%;
    max-width:100%;
    float:left;
  }
}
.hideWide { display:none; }
@media (max-width: 800px) {
  .hideMobile { display:none; }
  .hideMobileInline { display:none; }
  .showMobile { display:block; }
}
@media (min-width: 801px) {
  .hideMobile { display:block; }
  .hideMobileInline { display:inline; }
  .showMobile { display:none; }
}

.optionUL {
  margin: 12px 18px 0 0;
  padding: 0 0 8px 16px;
  overflow: hidden;
  width:100%;
  float:left;
  border-bottom:solid #cfcfcf 1px;
}
.optionLabel {
  font-size:13.5pt;
  float:left;
  min-width:100px;
  min-width:140px;
  font-weight:500;
  margin-bottom:8px;
  cursor: pointer;
}
.optionFields {
  margin-bottom:8px;
  overflow: visible;
}

.accordionTitle {
  cursor: pointer;
  font-size:12pt;
}

/* Wide Display */

.settingsWide .optionUL {
  /* border:solid #ccc 1px; */
}
.settingsWide .optionFields {
  overflow: auto;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-top: 5px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;
}
/* .flex-video.widescreen { padding-bottom: 57.25%; } */
.flex-video.widescreen { padding-bottom: 56%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

#siteTitle {
  font-size: 25pt;
  padding:5px 15px 5px 0px;
  margin-left:-8px;
  display:block;
  margin-bottom:20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#siteTitle:visited {
  color:#555;
}
#siteTitle:link {
  color:#555;
}
#siteTitle:hover {
  color:#4f97c7;
  color:#777;
}
h1 {
  color:#4f97c7;
}

.container {
  max-width: 1100px;
  margin:0 auto;
  padding-left: 55px;
  padding-right: 55px;
}
.footerColumns {
  margin-right:-45px;
}
.footerColumn {
  width:33.33%;
  float:left;
  margin-bottom: 0px;
}
.footerColumnInside {
  padding-right:45px; /* Matches .footerColumns above */
  line-height: 1.55;
  color: #777;
}
.footerColumnTitle {
  font-size: 1.27em;
    line-height: 1.3em;
    margin-top: 20px;
    margin-bottom: 16px;
}
@media (max-width:980px) {
  .footerColumn {
    width:100%;
  }
}

#main-nav li {
  font-family: Cabin, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color:#333;
  margin-right:3px;
}
#main-nav li a {
  color:#556;
  padding-left:12px;
  padding-right:12px;
}
#main-nav li a:hover {
  background-color:orange;
  color:#fff;
}
#main-nav li a.active {
  background-color:#fff;
  color:#333;
}

/* Add to base */
@media (max-width:750px) {
  #main-nav li {
    display: block; /* no effect */
    float:left; /* no effect */
    padding-bottom:12px;
  }
}

.header-navigation {
  z-index:1px;
}

.regbutton {
  display: inline-block;
  font-size: 14pt;
  color: white !important;
  background-color: #4986E7;
  min-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  padding: 9px 18px 9px 18px !important;
  margin-bottom:10px;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
}

.toptext {
  font-size:18px; 
  margin-bottom:18px;
  padding:14px 0 6px 30px;
  border-bottom:1px solid #eee;
}
.toptext-mobile {
  display: none;
}
.bluecard {
  position:absolute;
  top:140px;
  right:100px;
  z-index:1;
  background-color:rgba(33, 44, 100, 0.6);
  padding:50px 50px 40px 60px
}
.topnav {
  font-size:14.5px;
  overflow: hidden;
  height: 20px;
}
@media (max-width: 800px) {
  .topnav {
    font-size:14px; 
    height: 16px;
  }
}
@media (max-width: 500px) {
  .topnav {
    display: none; 
  }
}
@media (max-width: 800px) {
  .toptext {
    display: none;
    border-bottom: none;
    margin-bottom: 0px;
  }
  .toptext-mobile {
    display: block;
    font-size: 14px;
  }
}